= form_for alert, remote: true, format: :json do |f|
  %fieldset
    %legend
      ="Créer une alerte pour #{alert.stock.name}"
    %div#notice_div.text-center.alert.alert-success.collapse{role: "alert"}
      %span#notice_text
        Test
    %p
      Vous recevrez une alerte lorsque le cours de l'action atteindra votre valeur cible.
    = f.hidden_field :stock_id
    .form-group#target_value_group
      .input-group
        .span#target_value_addon.input-group-addon.has-error
          = f.label "valeur cible", class: "has-error"
        = f.number_field :target_value, placeholder: 0.0, step: :any, required: true, "aria-describedby": "target_value_addon", class: 'form-control'
      %p#new_alert_error_field.help-block
    -unless user_signed_in?
      .form-group
        .input-group
          .span#contact_addon.input-group-addon
            = f.label "email de contact"
          = f.email_field :contact, placeholder: "your@email.com", required: true, "aria-describedby": "contact_addon", class: 'form-control'
    %button#submit_alert.btn.btn-primary.btn-block
      Créer une alerte
